/*common resets to use*/

/*box sizing reset*/
* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

/*===== fonts =======*/

li , p , li:visited , p:visited , li:active , p:active , li:hover , p:hover{
  color: gray;
  font-family: 'Alternate Gothic No 2', Arial, sans-serif;
  font-size: 10px;
}

/*======= backgrownd ============*/


body {
 background: url(images/blue_mountains_2.jpg);
 background-repeat: repeat;
 height: 100vh;
 /*width: 100%;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/*======= Container white ======*/

#container {
  background-color: white;
  width: 76%;
  margin: 21px auto 21px;
}

/* ====/////=== wrapper header & wrap borders ===/////====*/

.wrapper-header {
  /*border: 1px solid black;*/
  display: flex;
  height: 67px;
}
.wrap-left {
  /*border: 1px solid red;*/
  display: flex;
  align-items: center;
}
.wrap-right {
  /*border: 1px solid red;*/
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
}
.wrap-left img {
  width: 24%;
}
.wrap-left p {
  font-size: 18px;
}
.upload {
  margin-right: 37px;
  font-size: 15px;
}
.wrap-right img {
  width: 10%;
  margin-right: 22px;
}





/*===/////==== main & side-bar & Container ======///////====*/

.wrapper-main {
  /*border: 1px solid blue;*/
  display: flex;
  width: 100%;
}

.side-bar {
  /*border: 1px solid green;*/
  width: 17%;
}

.wrap-container {
  /*border: 1px solid orange;*/
  width: 83%;
}

/*======== nav ========*/

.nav {
  /*border: 1px solid red;*/
  color: gray;
}

.nav ul {
  padding: 1px;
  margin-left: 55px;
  margin-top: 50px;
}

.nav li {
  padding: 19px 0 0 0;
  font-size: 17px;
}

.nav a {
  padding: 0 0 0 5px;
}

.guide {
  padding: 0 0 15px 0;
}


/*======== containers =========*/

.container {
  /*border: 1px solid red;*/
  margin: 1px;
  height: auto;
  width: auto;
}

/*======= boxes ========*/

.box-one, .box-two , .box-three {
  text-align: center;
}
.box-two {
  display: flex;
      justify-content: space-between;
}
img {
  width: 86%
}


/*===== container box-two right =====*/
.comments-right {
  margin: 0 58px 0 0;
}
.top-right p {
  font-size: 20px;
  border-bottom: green;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
.bottom-right {
  display: flex;
}
.bottom-right p {
  background: lightgray;
  padding: 5px;
  border-radius: 2px;
  font-size: 18px;
  border: 1px solid;
}
.jess-profile {
  width: 4%;
}
.subs, .num {
  border: 1px solid red;
}
.left-top h3 {
  margin: 9px 0 0 56px;
  font-size: 20px;
}
.left-top p {
  margin: 2px 0 0 5px;
}
.subs {
  background-color: #e62117;
  color: white;
  padding: 6px;
  margin-left: -98px;
}

.num {
  border: 1px solid black;
  background-color: #fafafa;
  padding: 6px;
}
.bottom-left p {
  margin: 7px 0 -5px 0;
}
.footer-note {
  display: flex;
  justify-content: center;
}
.footer-note p {
  background: white;
  padding: 5px;
  border-radius: 2px;
  font-size: 12px;
  border: 1px solid;
  width: 46px;
}


/*===== container box-three =====*/
.wall-comment-one {
  display: flex;
  background: #f9f9f9;
}
.wall-comment-one ul {
  float: right;
  text-align: justify;
  margin: 8px 0 0 -18px;
}
.wall-comment-one li {
  padding: 3px 0 0 0;
}
.wall-comment-one img {
  width: 60px;
  height: 60px;
  margin-left: 52px;
}
.name {
  font-weight: bold;
  font-size: 12px;
  color: black;
}
.date {
  font-size: 8px;
  padding-left: 8px;
  color: gray;
}
.thumbs-up, .num-24 {
  color: green;
}
.num-24 {
  color: green;
  padding: 0 7px 0 6px;
  font-weight: bold;
}
